.DS_Store
.DS_Store
.DS_Store
Instruction Material/.RData
Instruction Material/.Rhistory
.DS_Store
ProjectWork/.Rhistory
ProjectWork/.RData
ProjectWork/report_cache
ProjectWork/report_files
ProjectWork/report_cache/html/import_data_wealth_14dd14c671f42b129cd90e11787383e6.RData
ProjectWork/report_cache/html/import_data_wealth_14dd14c671f42b129cd90e11787383e6.rdb
ProjectWork/report_cache/html/import_data_wealth_14dd14c671f42b129cd90e11787383e6.rdx
ProjectWork/report_cache/html/import_data_wealth_a02b2ddf2d71ebb05873877d6270f02e.RData
ProjectWork/report_cache/html/import_data_wealth_a02b2ddf2d71ebb05873877d6270f02e.rdb
ProjectWork/report_cache/html/import_data_wealth_a02b2ddf2d71ebb05873877d6270f02e.rdx
ProjectWork/report_cache/html/initial_data_wealth_1dd5d16ce1a68257a9d160b5a1d7f5b3.RData
ProjectWork/report_cache/html/initial_data_wealth_1dd5d16ce1a68257a9d160b5a1d7f5b3.rdb
ProjectWork/report_cache/html/initial_data_wealth_1dd5d16ce1a68257a9d160b5a1d7f5b3.rdx
ProjectWork/report_cache/latex/import_data_wealth_239c3e9b78e3fcfd65708a4ed8ca0f4b.RData
ProjectWork/report_cache/latex/import_data_wealth_239c3e9b78e3fcfd65708a4ed8ca0f4b.rdb
ProjectWork/report_cache/latex/import_data_wealth_239c3e9b78e3fcfd65708a4ed8ca0f4b.rdx
ProjectWork/report_cache/latex/import_data_wealth_cb43660bd2fe0398ecd545d78f8e0efa.RData
ProjectWork/report_cache/latex/import_data_wealth_cb43660bd2fe0398ecd545d78f8e0efa.rdb
ProjectWork/report_cache/latex/import_data_wealth_cb43660bd2fe0398ecd545d78f8e0efa.rdx
ProjectWork/report_files/figure-latex/plot_education-1.pdf
ProjectWork/report_files/figure-latex/plot_election_per_district-1.pdf
ProjectWork/report_files/figure-latex/plot_income-1.pdf
ProjectWork/report_files/figure-latex/plot_wealth-1.pdf
ProjectWork/report_cache/html/import_data_wealth_a02b2ddf2d71ebb05873877d6270f02e.RData
ProjectWork/report_cache/html/import_data_wealth_a02b2ddf2d71ebb05873877d6270f02e.rdb
ProjectWork/report_cache/html/import_data_wealth_a02b2ddf2d71ebb05873877d6270f02e.rdx
ProjectWork/report_cache/latex/import_data_wealth_239c3e9b78e3fcfd65708a4ed8ca0f4b.RData
ProjectWork/report_cache/latex/import_data_wealth_239c3e9b78e3fcfd65708a4ed8ca0f4b.rdb
ProjectWork/report_cache/latex/import_data_wealth_239c3e9b78e3fcfd65708a4ed8ca0f4b.rdx
ProjectWork/report_files/figure-latex/plot_election_per_district-1.pdf
ProjectWork/report_files/figure-latex/plot_income-1.pdf
ProjectWork/report_files/figure-latex/plot_wealth-1.pdf
